# This contains the anti-cheat related configurations.

# How many ticks of history are contained in the client's rolling window for use when receiving corrections.
# At 20 ticks per second a history size of 40 means that a correction could still be processed with rewind with
# two seconds of two-way latency
# NOTE: This is not "that" important on Boar.
player-rewind-history-size-ticks: 20
  
# This is the tolerance of discrepancies between the Client and Server Player position. This helps prevent sending corrections too frequently
# NOTE: Again, Boar can handle small offset just fine and does account for lag, however keep in mind that Boar can't handle (that well)
# any offset smaller than 5.0E-5
player-position-acceptance-threshold: 1.0E-4

# This is the max reach that Boar going to tolerance before flagging, it does account for lag so no worry :)
max-tolerance-compensated-reach: 3.005

# How many discrepancies between the Client and Server Player position needed to be before the anticheat send alert message
# NOTE: This is NOT tolerance of discrepancies (that's player-position-acceptance-threshold), this will still do silent
# correction unless you change player-position-acceptance-threshold.
# This configuration exists so that some falses or other stuff won't keep spamming the chat/logs.
differ-till-alert: 0.0

# Checks that you want Boar to disable.
# Check name should be in format "Name-Type" and if there is no type then "Name", ex: Reach-A (don't actually disable reach check lol).
disabled-checks: []

# Normally Boar will account for lag, that also including block, if on the server side the block below player is Air but if
# on the client side, it's an actual block, then Boar will account for this. However, with this enable, Boar will forcefully
# rewind player if player is standing on a ghost block, this for ex: prevent player from abusing high ping to climb up walls in
# region that doesn't allow block placing (ex: WorldEdit).

# NOTE: This will only take effect if player is STANDING on the block.
ignore-ghost-block: false

# How long player can accept acknowledgements but not latency packet before we try to correct them. Shall this be disabled, set this to -1.
# Recommends to turn this on and have the value around 200ms-500ms.
max-acknowledgement-time: 500

# How long do we wait for player to respond to latency confirmation/acknowledgements till we kicked the player for timed out.
# This value shouldn't be too low to account for lagging player and shouldn't be too high so cheaters won't be able to stop responding to latency for too long.
max-latency-wait: 15000

# How much balance advantage (in milliseconds) player can gain before the anticheat forcefully set player back (regardless if the player is lagging or not)
# This is to prevent lagging player (or cheaters pretend to be one) gain too much advantage by.... lagging.
# To disable (which you probably shouldn't), set this to any value smaller or equals to 0.
max-balance-advantage: 8500

# Should debug mode be enabled or not?
debug-mode: false